.container_card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.container_item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container_item h2{
    color: grey;
}