h1{
    display: flex;
    font-size: 15px;
    margin: 0;
}

.counter{
    display: flex;
    align-items: center;
}

button{
    margin: 5px;
}

p{
    margin: 0;
}
.button-count{
    font-size: 20px;
    font-weight: 400;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #757575;
}